body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #F77737, #FCAF45, #FFDC80);
    background-size: 200% 200%;
    animation: gradientAnimation 10s ease infinite;
    text-align: center;
    padding: 50px;
    color: #fff;
    /* display: flex; */
    /* justify-content: center;*/
    align-items: center; 
    height: 85vh;
    margin: 0;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

h1 {
    color: #f9f4f4;
    padding: 50px;
    font-size: 50px;
    border-style: double
}

form {
    margin: 50px;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}

label {
    color: #fbf9f9;
}

input[type="file"] {
    margin: 20px;
    padding: 20px;
}

button {
    background-color: #3897f0;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 20px 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #4f9bd1;
}

h2 {
    color: #f8f4f5;
    text-align: center;
    margin-top: 100px;
}
