<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Social Media Brand Classifier</title>
</head>
<body>
    <h1>Gram Sort: An Instagram Posts' Classifier</h1>
    <form action="{{ url_for('classify') }}" method="post" enctype="multipart/form-data">
        <label for="file">Upload Excel File:</label>
        <input type="file" name="file" id="file" accept=".xlsx">
        <button type="submit">Classify</button>
    </form>
    <h2>GROUP MEMBERS:</h2>
    <p>Iqra Rasool   -  369547</p>
    <p>Mahnoor Ijaz  -  387847</p>
    <p>Sheeza Aslam  -  374382</p>
</body>
</html>

<!-- <!DOCTYPE html>
<html>
<head>
    <title>Social Media Brand Classifier</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Social Media Brand Classifier</h1>
    <form id="prediction-form">
        <textarea id="text" placeholder="Enter text for prediction"></textarea>
        <button type="submit">Predict</button>
    </form>
    <div id="prediction-results"></div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html> -->
